.helloHeading {
  color: red;
}

.displayFlex {
  display: flex;
}

// Điểm khác của scss so với css
.btn {
  width: 100px;
  height: 50px;
  background-color: #fff;
  color: #000;

  &:hover {
    opacity: 0.5;
  }
}

.redBackground {
  background-color: red;
}

.yellowBackground {
  background-color: yellow;
}
